<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cyanogenmod.defyparts"
          android:sharedUserId="android.uid.system"
          android:versionCode="1"
          android:versionName="1.0" >

    <uses-permission android:name="android.permission.REBOOT" />

    <application
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".SettingsActivity" >
            <intent-filter >
                <action android:name="com.cyanogenmod.action.LAUNCH_DEVICE_SETTINGS" />
            </intent-filter>
        </activity>
    </application>

</manifest>
