/dev/null                 0666   root       root
/dev/zero                 0666   root       root
/dev/full                 0666   root       root
/dev/ptmx                 0666   root       root
/dev/tty                  0666   root       root
/dev/random               0666   root       root
/dev/urandom              0666   root       root
/dev/ashmem               0666   root       root
/dev/binder               0666   root       root

# logger should be world writable (for logging) but not readable
/dev/log/*                0662   root       log

# these should not be world writable
/dev/android_adb          0660   adb        adb
/dev/android_adb_enable   0660   adb        adb
/dev/ttyGS0               0660   root       system
/dev/uinput               0660   system     bluetooth
/dev/alarm                0664   system     radio
/dev/graphics/*           0660   root       graphics
/dev/input/*              0660   root       input
/dev/snd/*                0664   system     audio
/dev/mt9t013              0660   system     system
/dev/bus/usb/*            0660   root       system

# CDMA radio interface MUX
/dev/ts0710mux*           0660   radio      radio
/dev/ppp                  0660   radio      vpn
/dev/tun                  0640   vpn        vpn

/dev/sim_proxy            0660   root       radio
/dev/psd_nsapi*           0660   root       radio
/dev/sim                  0660   root       radio
/dev/audio                0660   root       audio
/dev/gps                  0770   root       radio
/dev/gps_reset            0660   root       radio
/dev/gps_standby          0660   root       radio
/dev/gps_interrupt        0660   root       radio
/dev/subsidy_lock         0660   root       radio
/dev/test_cmd             0660   root       radio
/dev/nvm_proxy            0660   root       radio
/dev/dlog_ctrl            0770   radio      radio
/dev/efem                 0770   radio      radio
/dev/opprof               0660   root       radio
/dev/csd_tty0             0600   root       root
/dev/uma_urlc             0660   root       radio
/dev/uma_urr              0777   root       root
/dev/udi_data             0600   root       root
/dev/udi_ctrl             0600   root       root
/dev/DspBridge            0666   audio      graphics
/dev/hp3a-omap            0770   media      camera
/dev/hplens-omap          0770   media      camera
/dev/video0               0770   media      camera
/dev/video1               0770   media      graphics
/dev/video2               0770   system     graphics
/dev/video3               0777   media      camera
/dev/smodule              0777   root       root
/dev/syspanic             0770   radio      radio
/dev/tda19989             0660   root       system
/dev/dispsw               0660   root       system
/dev/omap-panel           0660   media      system
/dev/wakeup_timer         0660   root       radio
/dev/modem_pm_driver      0660   root       radio
/dev/power                0660   root       radio
/dev/cpcap                0660   root       system
/dev/cpcap_batt           0660   root       system
/dev/cpcap_mot_rtc        0660   root       system
/dev/cpcap_uc             0660   root       system
/dev/camera0              0777   root       root
/dev/i2c-1                0660   root       system
/dev/i2c-2                0660   root       system
/dev/i2c-3                0660   root       camera
/dev/pvrsrvkm             0666   system     graphics
/dev/netmon               0660   root       radio
/dev/block/mmcblk0p1      0660   root       sdcard_rw
/dev/block/misc           0660   root       misc
/dev/block/mmcblk1p1      0660   root       system
/dev/block/mmcblk1p6      0660   root       system
/dev/block/mmcblk1p7      0660   root       system

# sensor interface
/dev/akm8973_dev          0660   compass    compass
/dev/akm8973_aot          0660   compass    compass
/dev/kxtf9                0660   compass    compass
/dev/isl29030             0660   compass    compass
/dev/ttyS0                0640   radio      radio
# bluetooth uart
/dev/ttyS1                0660   bluetooth  bluetooth
/dev/tcmd_driver          0660   root       system
# bluetooth dun
/dev/rfcomm0              0600   system     system

# sysfs properties
/sys/devices/virtual/input/input*   enable      0660  root   input
/sys/devices/virtual/input/input*   poll_delay  0660  root   input

# Motorola CedarPoint Baseband Logger
/dev/bus/usb/002/123      0660   root       radio
