on init

# Backward compatibility
    symlink /dev /dev/netmux

# prepare generic keypad name
    exec /init_prep_keypad.sh

    mount ext3 mmc@system /system ro noatime nodiratime remount

    mount rootfs rootfs / rw remount

    symlink /dev/ttyGS0 /dev/acm0

# Create mountpoints and mount tmpfs
    mkdir /pds 0775 system system
    mkdir /tmp 0777 system system
    mount tmpfs tmpfs /tmp size=2m

# Configure kernel options
    # Enable automatic power control for EHCI USB IPC
    write /sys/devices/platform/ehci-omap.0/usb1/power/level auto
    write /sys/devices/platform/ehci-omap.0/usb1/power/autosuspend 0
    write /sys/devices/platform/ehci-omap.0/usb1/1-3/power/level auto
    write /sys/devices/platform/ehci-omap.0/usb1/1-3/power/autosuspend 0
    # Reset system time
    write /sys/class/rtc/rtc0/unsecured_rtc on

    # Disable a system-wide task dump on OOM in default
    write /proc/sys/vm/oom_dump_tasks 0
    write /proc/sys/fs/suid_dumpable 2

    # Power Management
    write /sys/power/sleep_while_idle 1
    write /sys/power/enable_off_mode 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu0/cpufreq/ondemand/up_threshold 86
    write /sys/devices/system/cpu/cpu0/cpufreq/ondemand/sampling_rate 46875
    write /sys/power/sr_vdd1_autocomp 1
    write /sys/power/sr_vdd2_autocomp 1
    write /sys/power/enable_abb_mode 1
    write /sys/block/mmcblk0/bdi/read_ahead_kb 4096  

# Change ownership for vibrators
    chown system system /sys/class/timed_output/lvibrator/enable
    chown system system /sys/class/timed_output/vibrator/enable

# Change permission of vibrators
    chmod 0660 /sys/class/timed_output/lvibrator/enable
    chmod 0660 /sys/class/timed_output/vibrator/enable

# Mount mtd partitions
    # mount /pds as r/w
    # We chown/chmod /pds again so because mount is run as root + defaults
    exec /system/bin/logwrapper /system/bin/mount_ext3.sh pds /pds
    chown system system /pds
    chmod 0775 /pds

    mkdir /pds/comm_drv 0770 radio radio

    mkdir /pds/public 0775 system shell
    chown system shell /pds/public
    chmod 0775 /pds/public

# Create basic filesystem structure
    # create moto specific dirs for mystuff
    mkdir /data/download 0775 system system
    mkdir /data/download/mystuff 0775 system system

    # create moto specific dirs for wifi
    mkdir /data/system 0771 system system
    # wifi dirs
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    mkdir /pds/wifi 0771 wifi wifi

    mkdir /data/comm_drv 0770 radio radio
    mkdir /data/gki 0770 radio radio
    mkdir /tmp/commdrv 0770 radio radio


    # bluetooth power up/down interface
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill1/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill1/state
    chmod 0660 /sys/class/rfkill/rfkill1/state


    # following two dirs are for storing BP Flex and PDS files. NVM Daemon is using these folders
    mkdir /data/bp_nvm
    chown radio radio /data/bp_nvm
    chmod 0770 /data/bp_nvm

    mkdir /pds/bp_nvm
    chown radio radio /pds/bp_nvm
    chmod 0770 /pds/bp_nvm


    # create logger folder
    mkdir /data/logger 0770 radio log
    chown radio log /data/logger
    chmod 0770 /data/logger
    mkdir /data/panicreports
    chown root radio /data/panicreports
    chmod 0777 /data/panicreports

    # create the lost+found directories, so as to enforce our permissions
    mkdir /pds/lost+found 0770

    # double check the perms, in case lost+found already exists, and set owner
    chown root root /pds/lost+found
    chmod 0770 /pds/lost+found

    #Create location directory
    mkdir /data/location 0771 radio radio

    #Create opprof directory
    mkdir /data/opprof 0770 radio shell

    # Create anr directory and change permission to 777 to save trace.txt
    mkdir /data/anr
    chmod 0777 /data/anr

# create the necessary dirs for tpapi with proper permission
    mkdir /pds/security
    mkdir /data/tpapi
    mkdir /data/tpapi/etc
    mkdir /data/tpapi/etc/tpa
    mkdir /data/tpapi/etc/tpa/persistent
    chmod 2770 /pds/security
    chmod 2770 /data/tpapi
    chmod 2770 /data/tpapi/etc
    chmod 2770 /data/tpapi/etc/tpa
    chmod 2770 /data/tpapi/etc/tpa/persistent
    chown mot_tpapi mot_tpapi /pds/security
    chown mot_tpapi mot_tpapi /data/tpapi
    chown mot_tpapi mot_tpapi /data/tpapi/etc
    chown mot_tpapi mot_tpapi /data/tpapi/etc/tpa
    chown mot_tpapi mot_tpapi /data/tpapi/etc/tpa/persistent

    # Create wmdrm directory
    mkdir /pds/wmdrm 0775 mot_drm mot_drm

    # Temp workaround for HP library cleanup
    symlink /dev/hp3a-omap /dev/hp3A-omap
	
     # Enable ADB mode
     #  write /dev/usb_device_mode msc_adb

# Permissions for video
    chmod 0770 /dev/hp3a-omap
    chmod 0770 /dev/hplens-omap
    chmod 0770 /dev/video0
    chmod 0770 /dev/video1
    chmod 0770 /dev/video2
    chown media camera /dev/hp3a-omap
    chown media camera /dev/hplens-omap
    chown media camera /dev/video0
    chown media graphics /dev/video1
    chown media graphics /dev/video2
	
	
mount rootfs rootfs / ro remount

on early-boot

# Install BP related kernel modules
    #Start the engine modules for netmux first for other daemons depends on it
    insmod /system/lib/modules/netmux.ko
    insmod /system/lib/modules/netmux_linkdriver.ko
    insmod /system/lib/modules/sec.ko
    insmod /system/lib/modules/modem_pm_driver.ko
    insmod /system/lib/modules/kineto_gan.ko
    insmod /system/lib/modules/tun.ko
    insmod /system/lib/modules/nls_utf8.ko
    insmod /system/lib/modules/slow-work.ko
    insmod /system/lib/modules/cifs.ko

# Adjust the out of memory thresholds to account for the larget
# space on sholes. These numbers are in pages (4k). Must be kept
# in sync with init.rc. This must be done before the regular init.rc
# since these properies can't change once set.
    setprop ro.FOREGROUND_APP_MEM 3072
    setprop ro.VISIBLE_APP_MEM 4608
    setprop ro.SECONDARY_SERVER_MEM 9216
    setprop ro.BACKUP_APP_MEM 9216
    setprop ro.HOME_APP_MEM 9216
    setprop ro.HIDDEN_APP_MEM 10752
    setprop ro.CONTENT_PROVIDER_MEM 12288
    setprop ro.EMPTY_APP_MEM 12288
	
    chmod 0666 /dev/DspBridge
    class_start media_early_init

on boot

# Overwrite what init.rc selected for the memory killer params to match above.

      write /sys/module/lowmemorykiller/parameters/minfree 3072,4608,9216,10752,12288,12288

# Change the ownership of led files.
   chown system system /sys/class/leds/lcd-backlight/als
   chown system system /sys/class/leds/lcd-backlight/pwm_mode
   chown system system /sys/class/leds/lcd-backlight/brightness
   chmod 0660 /sys/class/leds/lcd-backlight/brightness
   chown system system /sys/class/leds/keyboard-backlight/brightness
   chmod 0660 /sys/class/leds/keyboard-backlight/brightness
   chown system system /sys/class/leds/keyboard1-backlight/brightness
   chmod 0660 /sys/class/leds/keyboard1-backlight/brightness
   chown system system /sys/class/leds/keyboard2-backlight/brightness
   chmod 0660 /sys/class/leds/keyboard2-backlight/brightness
   chown system system /sys/class/leds/button-backlight/brightness
   chmod 0660 /sys/class/leds/button-backlight/brightness
   chown system system /sys/class/leds/red/blink
   chmod 0660 /sys/class/leds/red/blink
   chown system system /sys/class/leds/red/brightness
   chmod 0660 /sys/class/leds/red/brightness
   chown system system /sys/class/leds/green/brightness
   chmod 0660 /sys/class/leds/green/brightness
   chown system system /sys/class/leds/blue/brightness
   chmod 0660 /sys/class/leds/blue/brightness
   chmod 0660 /sys/class/leds/torch-flash/camera_strobe
   chmod 0660 /sys/class/leds/torch-flash/flash_light
   chown system system /sys/class/leds/torch-flash/camera_strobe
   chown system system /sys/class/leds/torch-flash/flash_light
   chown system system /sys/class/leds/spotlight/brightness
   chmod 0660 /sys/class/backlight/adp8870_bl/brightness
   chown system system /sys/class/backlight/adp8870_bl/brightness
   chmod 0660 /sys/class/leds/adp8870-led7/brightness
   chown system system /sys/class/leds/adp8870-led7/brightness
   chmod 0666 /sys/class/leds/spotlight/brightness

# Define TCP buffer sizes for various networks
# ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.umts 64000,128000,256000,4096,16384,110208
    setprop net.tcp.buffersize.edge 16384,35040,65536,4096,16384,35040

# Camera related
   chmod 0660 /dev/hplens-omap
   chown media camera /dev/hplens-omap

# Enable panic on softlockup
    write /proc/sys/kernel/softlockup_panic 1

# Start services
    exec /system/bin/mot_boot_mode

# Set core max size (2G)
    setrlimit 4 2147483648 2147483648

# The properties introduced by moto
on property:sys.chargeonly.mode=1
    start battd
    start console
    write /data/simpin lock
    exec /system/bin/charge_only_mode
# Power up to normal
on property:tcmd.suspend=0
    class_start pre-zygote_services
    class_start zygote_services
    class_start post-zygote_services
# Power up to suspend
on property:tcmd.suspend=1
    class_start pre-zygote_services
    class_start post-zygote_services
# Normal to suspend
on property:tcmd.suspend=2
    class_stop zygote_services

# Moto safe power down
on property:sys.reboot=1
    stop ssmgrd
    exec /system/bin/sleep 10
    exec /system/bin/reboot
on property:sys.shutdown=1
    stop ssmgrd
    exec /system/bin/sleep 10
    exec /system/bin/reboot -p

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

#service telnet /system/bin/telnetd
#    class pre-zygote_services
#    oneshot
	
service usbd /system/bin/usbd
    class pre-zygote_services
	
service nvm-daemon /system/bin/nvm_daemon
    class pre-zygote_services
    user radio
    group radio

# start commdrv pds script
service start_commdrv /system/bin/sh /system/etc/motorola/comm_drv/commdrv_fs.sh
    class pre-zygote_services
    oneshot
    user radio
    group radio system cache

service gkisystem /system/bin/gkisystem
    class pre-zygote_services
    socket location_shim stream 660 radio system
    socket gpshal_socket stream 660 radio system
    socket opprofdaemon stream 660 radio system
    socket gkilog_sock stream 660 radio radio
    group radio system mot_accy mot_secclkd
    onrestart exec /system/bin/gki_pd_notifier


service rild_tcmd /system/bin/rild_tcmd
    class pre-zygote_services
    socket rild_tcmd stream 0660 radio mot_tcmd
    user radio
    group radio

service battd /system/bin/battd
    class pre-zygote_services
    socket battdsock stream 0660 mot_accy mot_accy
    user root
    group mot_accy mot_pwric
    oneshot

service bplogd_daemon /system/bin/bplogd_daemon
    class pre-zygote_services
    socket dlog_cmds stream 660 radio log
    socket bp_pd_status stream 660 radio log
    socket bp_aol_cmd stream 666 radio log
    user radio
    group radio inet log sdcard_rw mount
    oneshot

service ssmgrd /system/xbin/ssmgrd
    class post-zygote_services
    group radio input mot_pwric
    oneshot

service hciattach /system/bin/hciattach -n -t 10 /dev/ttyS1 texasalt 3000000 flow
    class post-zygote_services
    user bluetooth
    group bluetooth net_bt_admin
    disabled

service hciattach_rfmd /system/bin/hciattach -n -t 10 /dev/ttyS1 texasalt_rfmd 3000000 flow
   class post-zygote_services
   user bluetooth
   group bluetooth net_bt_admin
   disabled

#service btdhcpd /system/bin/dnsmasq -C /etc/btpan.conf
#    class post-zygote_services
#    user root
#    disabled
#    oneshot

service map /system/bin/sdptool add --channel=20 --network=1 MAP
    class post-zygote_services
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

#service tcmd /system/bin/tcmd
#   class post-zygote_services
#    group mot_tcmd radio mot_pwric input system log camera graphics mot_accy sdcard_rw audio inet bluetooth wifi compass #net_bt_admin mot_tombstone mot_tpapi mount
#    socket local_tcmd stream 0660 mot_tcmd mot_tcmd
#    socket batch_socket stream 0600 mot_tcmd mot_tcmd
#    oneshot

service tcmdhelp /system/bin/tcmdhelp
    class post-zygote_services
    socket tcmdhelp stream 0600 mot_tcmd mot_tcmd
    oneshot
    disabled
	
# turn on wifi for tcmd step one
on property:tcmd.load_wlan=1
    insmod /system/lib/modules/tiwlan_drv.ko
# turn on wifi for tcmd step two
on property:tcmd.load_wlan=2
    start wlan_loader
# turn on wifi for tcmd step three
on property:tcmd.load_wlan=3
    exec /system/bin/ifconfig tiwlan0 up
# turn off wifi for tcmd step one
on property:tcmd.unload_wlan=1
    exec /system/bin/ifconfig tiwlan0 down
# turn off wifi for tcmd step two
on property:tcmd.unload_wlan=2
    exec /system/bin/rmmod tiwlan_drv
    setprop wlan.driver.status unloaded

# turn on bluetooth for FM tcmd
on property:tcmd.fm_mod=1
    stop hciattach
    stop hciattach_rfmd
    start bt_init
# turn off bluetooth for FM tcmd
on property:tcmd.fm_mod=0
    stop hciattach
    stop hciattach_rfmd
# turn on bluetooth for tcmd
on property:tcmd.bt_mod=1
    stop hciattach
    stop hciattach_rfmd
    insmod /system/lib/modules/wl127x_test.ko
#turn off bluetooth for tcmd
on property:tcmd.bt_mod=0
    exec /system/bin/rmmod wl127x_test
#execute tcmdhelp
on property:tcmd.start_tcmdhelp=1
    start tcmdhelp
	
service panic_daemon /system/bin/panic_daemon
    class post-zygote_services
    user radio
    group log radio system graphics sdcard_rw
    socket panic_daemon stream 660 radio radio
    onrestart exec /system/bin/reboot

# Ecompass daemon
service akmd2 /system/bin/akmd2
    class post-zygote_services
    user compass
    group compass misc input

service wlan_loader /system/bin/wlan_loader -f /system/etc/wifi/fw_wlan1271.bin -i /system/etc/wifi/tiwlan.ini -e /pds/wifi/nvs_map.bin
    class post-zygote_services
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant -Dtiwlan0 -itiwlan0 -c/data/misc/wifi/wpa_supplicant.conf
    class post-zygote_services
	
# we will start as root and wpa_supplicant will switch to user wifi
# after setting up the capabilities required for WEXT
# user wifi
# group wifi inet keystore
    socket wpa_tiwlan0 dgram 660 wifi wifi
    disabled
    oneshot
service dhcpcd_tiwlan0 /system/bin/dhcpcd -ABKL tiwlan0
    class post-zygote_services
    disabled
    oneshot
service autoip /system/bin/dhcpcd -BK tiwlan0
    class post-zygote_services
    disabled
    oneshot
service btdhcpcd /system/bin/dhcpcd -ABKL bnep0
    class post-zygote_services
    disabled
    oneshot
service btautoip /system/bin/dhcpcd -BK bnep0
    class post-zygote_services
    disabled
    oneshot
service baseimage /system/bin/dspexec -v -T /system/lib/dsp/baseimage.dof
    class media_early_init
    user media
    group media graphics
    oneshot
service pvrsrv /system/bin/pvrsrvinit
    class post-zygote_services
    user root
    oneshot

service pppd /system/bin/pppd silent ipparam dun plugin /system/lib/libpppd_plugin.so
    class post-zygote_services
    user root
    disabled
    oneshot

service locDrv /system/bin/brcm_guci_drv -config /system/etc/gpsconfig.xml
    class post-zygote_services
    user radio
    group radio inet sdcard_rw
	
#service modemlog /system/bin/modemlog
#   class pre-zygote_services
#   oneshot

# aplogd is controlled by the persist.service.aplogd.enable system property
#service aplogd /system/bin/aplogd
#    class post-zygote_services
#    socket ap_aol_cmd stream 666 system system
#    group log system sdcard_rw
#    oneshot

service gkilogd /system/bin/gkilogd
    class post-zygote_services
    socket gki_aol_cmd stream 660 radio log
    user radio
    group radio log sdcard_rw

service fmradio /system/bin/fmradioserver
    class post-zygote_services
    disabled
    group bluetooth

#start Authentec VPN service
#service vpnclientpm /system/bin/vpnclientpm
#    class post-zygote_services
#    oneshot
#    user root

#IKCBS-226 start RescueStarter for MobileRescue
#service RescueStarter /system/bin/RescueStarter
#    user nobody
#    group input graphics
#    class post-zygote_services
