/dev/null                 0666   root       root
/dev/zero                 0666   root       root
/dev/full                 0666   root       root
/dev/ptmx                 0666   root       root
/dev/tty                  0666   root       root
/dev/random               0666   root       root
/dev/urandom              0666   root       root
/dev/ashmem               0666   root       root
/dev/binder               0666   root       root
/dev/DspBridge            0666   audio      graphics

# logger should be world writable (for logging) but not readable
/dev/log/*                0662   root       log
/dev/logger               0660   root       radio

# the msm hw3d client device node is world writable/readable.
/dev/msm_hw3dc            0666   root       root

# gpu driver for adreno200 is globally accessible
/dev/kgsl                 0666   root       root

# these should not be world writable
/dev/diag                 0660   radio      radio
/dev/diag_arm9            0660   radio      radio
/dev/android_adb          0660   adb        adb
/dev/android_adb_enable   0660   adb        adb
/dev/ttyGS0               0660   root       mot_usb
/dev/ttyMSM0              0600   bluetooth  bluetooth
/dev/ttyHS0               0660   mot_whisper mot_whisper
/dev/hidraw*              0660   root       mot_whisper
/dev/uinput               0660   system     bluetooth
/dev/alarm                0664   system     radio
/dev/tty0                 0660   root       system
/dev/graphics/*           0660   root       graphics
/dev/msm_hw3dm            0660   system     graphics
/dev/input/*              0660   root       input
/dev/eac                  0660   root       audio
/dev/cam                  0660   root       camera
/dev/pmem                 0660   system     graphics
/dev/pmem_adsp*           0660   system     audio
/dev/pmem_camera*         0660   system     camera
/dev/oncrpc/*             0660   root       system
/dev/adsp/*               0660   system     audio
/dev/snd/*                0664   system     audio
/dev/mt9t013              0660   system     system
/dev/msm_camera/*         0660   system     system
/dev/akm8976_daemon       0640   compass    system
/dev/akm8976_aot          0640   compass    system
/dev/akm8973_daemon       0640   compass    system
/dev/akm8973              0660   compass    compass
/dev/akm8973_dev          0660   compass    compass
/dev/akm8973_aot          0660   compass    compass
/dev/bma150               0640   compass    system
/dev/cm3602               0640   compass    system
/dev/akm8976_pffd         0640   compass    system
/dev/lightsensor          0640   system     system
/dev/msm_pcm_out*         0660   system     audio
/dev/msm_pcm_in*          0660   system     audio
/dev/msm_pcm_ctl*         0660   system     audio
/dev/msm_snd*             0660   system     audio
/dev/msm_mp3*             0660   system     audio
/dev/audience_a1026*      0660   system     audio
/dev/tpa2018d1*           0660   system     audio
/dev/msm_audpre           0660   system     audio
/dev/msm_audio_ctl        0660   system     audio
/dev/htc-acoustic         0660   system     audio
/dev/vdec                 0660   system     audio
/dev/q6venc               0660   system     audio
/dev/snd/dsp              0660   system     audio
/dev/snd/dsp1             0660   system     audio
/dev/snd/mixer            0660   system     audio
/dev/smd0                 0640   radio      radio
/dev/qemu_trace           0666   system     system
/dev/qmi                  0640   radio      radio
/dev/qmi0                 0640   radio      radio
/dev/qmi1                 0640   radio      radio
/dev/qmi2                 0640   radio      radio
/dev/bus/usb/*            0660   root       usb

# CDMA radio interface MUX
/dev/ts0710mux*           0660   radio      radio
/dev/ttyHS4/*             0640   radio      radio
/dev/ppp                  0660   radio      vpn
/dev/tun                  0640   vpn        vpn

/dev/sim_proxy            0660   root       radio
/dev/psd_nsapi5           0660   root       radio
/dev/psd_nsapi6           0660   root       radio
/dev/psd_nsapi7           0660   root       radio
/dev/psd_nsapi8           0660   root       radio
/dev/psd_nsapi9           0660   root       radio
/dev/psd_nsapi10          0660   root       radio
/dev/sim                  0660   root       radio
/dev/audio                0660   root       audio
/dev/gps                  0770   root       radio
/dev/gps_reset            0660   root       radio
/dev/gps_standby          0660   root       radio
/dev/gps_interrupt        0660   root       radio
/dev/subsidy_lock         0660   root       radio
/dev/test_cmd             0660   root       radio
/dev/nvm_proxy            0660   root       radio
/dev/dlog_ctrl            0770   radio      radio
/dev/efem                 0770   radio      radio
/dev/opprof               0660   root       radio
/dev/csd_tty0             0600   root       root
/dev/uma_urlc             0660   root       radio
/dev/uma_urr              0777   root       root
/dev/udi_data             0600   root       root
/dev/udi_ctrl             0600   root       root
/dev/dspbridge            0666   audio      graphics
/dev/hp3a-omap            0770   media      camera
/dev/mipi_dli_tester      0660   media      camera
/dev/video0               0770   media      camera
/dev/video1               0770   media      graphics
/dev/video2               0770   system     graphics
/dev/video3               0777   media      camera
/dev/smodule              0777   root       root
/dev/ttyACM0              0770   radio      radio
/dev/syspanic             0770   radio      radio
/dev/mdtv/                0777   root       root
/dev/mdtv/mdtvctrl        0777   root       root
/dev/mdtv/mdtv1           0777   root       root
/dev/mdtv/mdtv2           0777   root       root
/dev/mdtv/mdtv3           0777   root       root
/dev/mdtv/mdtv4           0777   root       root
/dev/mdtv/mdtv5           0777   root       root
/dev/mdtv/mdtv6           0777   root       root
/dev/mdtv/mdtv7           0777   root       root
/dev/mdtv/mdtv8           0777   root       root
/dev/mdtv/mdtv9           0777   root       root
/dev/mdtv/mdtv10          0777   root       root
/dev/mdtv/mdtv11          0777   root       root
/dev/mdtv/mdtv12          0777   root       root
/dev/mdtv/mdtv13          0777   root       root
/dev/mdtv/mdtv14          0777   root       root
/dev/mdtv/mdtv15          0777   root       root
/dev/mdtv/mdtv16          0777   root       root
/dev/tda19989             0660   root       system
/dev/dispsw               0660   root       system
/dev/omap-panel           0660   media      system
/dev/omap-dssmgr          0660   media      system
/dev/wakeup_timer         0660   root       radio
/dev/modem_pm_driver      0660   root       radio
/dev/power                0660   root       radio
/dev/cpcap                0660   root       mot_pwric
/dev/cpcap_batt           0660   root       mot_pwric
/dev/cpcap_uc             0660   root       mot_pwric
/dev/sec                  0660   root       system
/dev/camera0              0777   root       root
/dev/mtd/mtd1             0660   root       mot_tcmd
/dev/mtd/mtd2             0660   root       mot_tcmd
/dev/i2c-0                0660   root       mot_tcmd
/dev/i2c-1                0660   root       mot_tcmd
/dev/i2c-2                0660   root       mot_tcmd
/dev/i2c-3                0660   mot_tcmd   camera
/dev/i2c-4                0660   root       mot_tcmd
/dev/pvrsrvkm             0666   system     graphics
/dev/bd7885               0770   media      camera
/dev/cpcap_mot_rtc        0660   root       mot_sec_rtc
/dev/netmon               0660   root       radio
/dev/block/mmcblk0p1      0660   root       sdcard_rw
/dev/block/misc           0660   root       misc
/dev/block/mmcblk1p1      0660   root       mot_tcmd
/dev/block/mmcblk1p6      0660   root       mot_tcmd
/dev/block/mmcblk1p7      0660   root       mot_tcmd
# sensor interface
/dev/lis331dlh            0660   compass    compass
/dev/lis3dh               0660   compass    compass
/dev/kxtf9                0660   compass    compass
/dev/sfh7743              0660   compass    compass
/dev/akm8975_dev          0660   compass    compass
/dev/akm8975_aot          0660   compass    compass
/dev/isl29030             0660   compass    compass
/dev/airc                 0660   compass    compass
/dev/ttyS0                0640   radio      radio
/dev/ttyO0                0640   radio      radio
# bluetooth uart
/dev/ttyS1                0660   bluetooth  bluetooth
/dev/ttyO1                0660   bluetooth  bluetooth
/dev/ttyUSB0              0660   radio      system
/dev/ttyUSB1              0660   radio      radio
/dev/ttyUSB2              0660   radio      radio
/dev/ttyUSB3              0660   radio      radio
/dev/ttyUSB4              0660   radio      system
/dev/tcmd_driver          0660   root       mot_tcmd
/dev/ttySPI0              0660   radio      system
/dev/ttyHS3               0660   root       radio
# power management testing
/dev/pm_dbg               0666   system     system
# bluetooth dun
/dev/rfcomm0              0600   system     system
# touchpad related stuff
/dev/touchpad             0770   root       mot_tcmd

# sysfs properties
/sys/devices/virtual/input/input*   enable      0660  root   input
/sys/devices/virtual/input/input*   poll_delay  0660  root   input

# Motorola CedarPoint Baseband Logger
/dev/bus/usb/002/123      0660   root       radio
